body{
    background-color: rgb(15, 57, 66);
    display: flex;
    justify-content: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; 
}

a{
    color: white;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#root{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-color: rgb(0, 46, 57);
    color: white;
    border-radius: 5px;
}

.App{
    margin: auto 2rem;
    width: 100%;
}

.titleDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionTitleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto 1rem;
}

.SkillsDiv{
    margin-bottom: 1rem;
}

.skillItemDiv{
    display: flex;
}

Button{
    margin: auto 1rem;
    border: none;
    background-color: rgb(15, 57, 66);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 1.5rem;
    padding: 0 1.5rem;
    font-weight: 400;
    transition: 0.2s;
}

Button:hover{
    color: rgb(0, 46, 57);
    background-color: rgb(255, 255, 255);
}

.buttonsDiv{
    margin-top: 1rem;
    display: flex;
}