body{
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; 
}

#root{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.App{
    margin: auto 2rem;
    width: 100%;
}

h1{
    text-align: center;
    color: rgb(26, 26, 26);
}

h2{
    color: rgb(71, 71, 71);
}

.sectionTitleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto 1rem;
}

Button{
    margin: auto 1rem;
    border: none;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 1.5rem;
    padding: 0 1.5rem;
    font-weight: 400;
    transition: 0.2s;
}

Button:hover{
    color: rgb(78, 78, 78);
    background-color: rgb(255, 255, 255);
}

input{
    margin-left: 1rem;
}